body{
    
    background-color: #f4f4f4;
    color: #555555;
    font: normal 16px Arial, Helvetica,sans-serif;
    line-height: 1.6em;
    margin: 0;
}
.clr{
    clear: bot;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
 background: red;
 color:#fff;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
}

a:active{
    color: greenyellow;
}


.conteiner{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: #333;
    color: #fff;
    border: 5px solid red;
    padding: 20px;
    margin: 20px 0;

}
.box-1 h1{
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 1px dotted black;
    list-style-image: url(/csscheatsheet/image/check.png);
}

.my-form {
    padding: 20px;
}
.my-form .form-group{
    padding: 8px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block {
    float: left;
    width: 33.3%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing:border-box;
    
   
}

#main-block{
    float:left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid green;
    margin-top: 20px;
}

#sidebar{
    float:right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;

}

.p-box{
    
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 600px;
    position: relative;
    background-image: url("../image/rcm.jpeg");
}

.p-box h1{
    position: absolute;
    top: 90px;
    left: 400px;
}

.fix-me{
    position: fixed;
    top: 400px;
    left:0px;
}

.my-list li:first-child{
    background: red;
 }

 .my-list li:last-child{
    background: blue;
 }
 .my-list li:nth-child(5){
    background: yellow;
 }